################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/osm2mssql.sln.ide
/Output/Debug_x64
/packages
/Output/Release_x64
/osm2mssql.OsmDb2012/obj
/osm2mssql.OsmDb2008/obj
/osm2mssql.InfoDAL/obj
*.suo
/osm2mssql.Importer/obj/x64/Debug
